* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: linear-gradient(to bottom, rgb(0, 255, 166), skyblue);
    --secondary-color: rgb(0, 81, 255);
    --main-bg: rgb(242, 236, 236);
}

body,
html {
    min-height: 100vh;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

h1{
    font-size:1.5rem;
}
h2{
    font-size: 1rem;
}
h3{
    font-size: 0.9rem;
}
p{
    font-size: 0.8rem;
}

aside {
    padding: 10px;
    background: var(--main-color);
    color: white;
    display: grid;
    font-weight: bold;
    gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin-bottom: 5px;
}
nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    gap: 15px;
    padding: 10px 20px 10px 20px;
}

nav > div{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .options, .profile-info{
    justify-content: flex-end;
}

nav .welcome-pic{
    width: 60px;
    height: 60px;
}

.profile-pic{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

nav input{
    width: 80%;
    border-radius: 8px;
    border: none;
    background: var(--main-bg);
    font-size: 1.1rem;
}

nav button{
    background: var(--main-color);
    border-radius: 15px;
    padding: 5px;
    color: white;
    font-weight: bold;
    width: 30%;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: var(--main-bg);
    padding-bottom: 35px;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

.your-projects {
    display: flex;
    flex-direction: column;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    flex: 1;
}

.projects .card {
    border-left: thick solid var(--secondary-color);
}

.new {
    display: grid;
    gap: 15px;
}
.new > div{
    display: flex;
    flex-direction: column;
}

.new > div >.card{
    flex: 1;
}

.announcements .card .announcement:not(:last-child) {
    border-bottom: thin solid rgba(128, 128, 128, 0.191);
}